!!!5
html(lang='en_AU')
	head
		meta(name=viewport content='initial-scale=1.0, user-scalable=no')
		title="Corner Judge"
		link(rel='stylesheet' href='/css/main.css')
		script(src='/socket.io/socket.io.js')
		script(src='/js/fast-click.min.js')
		script(src='/js/client--corner-judge.js')
	body
		h1="Corner Judge"
		div#id-view.view
			p
				label(for='id-field')="Name"
				input#id-field(type=text)
				button#id-btn="Go"
		div#rings-view.view.hidden
			ul#rings-list
		div#round-view.view.hidden
			p
				button#score1="+1"