{{!-- WebSocket Error view --}}
{{> ws-error-view }}

{{!-- Name view (identification) --}}
<div id="name" class="view hidden">
	<h1>{{ title }}</h1>
	<form class="action name-form" action="#">
		<p class="instr">Enter your name</p>
		<input class="name-field field" type="text" autocapitalize="on">
	</form>
</div>

{{!-- Ring List view (ring selection) --}}
<div id="ring-list" class="view hidden">
	<h1>{{ title }}</h1>
	<div class="action">
		<p class="rl-instr instr">Select ring number</p>
		<ul class="rl-list list-reset list-grid"></ul>
	</div>
	<script id="rl-list-tmpl" type="x-handlebars-template">
		\{{#each ringStates}}
			<li><button type="button" class="btn no-hover rl-btn" data-index="\{{index}}"\{{#unless open}} disabled\{{/unless}}>\{{number}}</button></li>
		\{{/each}}
	</script>
</div>

{{!-- Authorisation view (waiting for authorisation to join ring) --}}
<div id="authorisation" class="view hidden">
	<h1>{{ title }}</h1>
	<div class="action">
		<p class="instr">Waiting for authorisation...</p>
	</div>
</div>

{{!-- Round view (scoring) --}}
<div id="round" class="view hidden">
	<button type="button" class="undo-btn btn btn--minor no-hover">Undo</button>
	<div class="score-btns score-btns--hong">
		<button type="button" class="score-btn score-btn--5 hong-bg">5</button>
		<button type="button" class="score-btn score-btn--4 hong-bg">4</button>
		<button type="button" class="score-btn score-btn--3 hong-bg">3</button>
		<button type="button" class="score-btn score-btn--2 hong-bg">2</button>
		<button type="button" class="score-btn score-btn--1 hong-bg">1</button>
	</div>
	<div class="score-btns score-btns--chong">
		<button type="button" class="score-btn score-btn--5 chong-bg">5</button>
		<button type="button" class="score-btn score-btn--4 chong-bg">4</button>
		<button type="button" class="score-btn score-btn--3 chong-bg">3</button>
		<button type="button" class="score-btn score-btn--2 chong-bg">2</button>
		<button type="button" class="score-btn score-btn--1 chong-bg">1</button>
	</div>
	<div class="feedback"></div>

	{{!-- Backdrop --}}
	{{> backdrop}}
</div>