{{!-- WebSocket Error view --}}
{{> ws-error-view }}

{{!-- Password view --}}
<div id="login" class="view hidden">
	<h1>{{ title }}</h1>
	<form class="action login-form" action="#">
		<p class="login-instr instr">Master password required</p>
		<input class="login-field field" type="password">
		<button class="login-btn btn" type="submit" title="Go">&raquo;</button>
	</form>
</div>

{{!-- Ring List view --}}
<div id="ring-list" class="view hidden">
	<h1>{{ title }}</h1>
	<div class="action">
		<p class="rl-instr instr">Select ring number</p>
		<ul class="rl-list list-reset list-grid"></ul>
	</div>
	<script id="rl-list-tmpl" type="x-handlebars-template">
		\{{#each rings}}
			<li><button type="button" class="btn rl-btn" data-index="\{{index}}"\{{#if open}} disabled\{{/if}}>\{{number}}</button></li>
		\{{/each}}
	</script>
</div>

{{!-- Ring view --}}
<div id="ring" class="view hidden">
	{{!-- Sidebar (Corner Judges management) --}}
	<div id="judges-sidebar">
		<h2 class="js-heading">Corner Judges</h2>
		<ul class="js-list list-reset"></ul>
		<script id="js-list-tmpl" type="x-handlebars-template">
			\{{#each slots}}
				<li class="js-judge">
				\{{#if cj}}
					<h3 class="js-judge-name">\{{cj.name}}</h3>
					<button type="button" class="js-judge-remove" title="Remove" data-id="\{{cj.id}}">&times;</button>
					\{{#if cj.authorised}}
						<span class="js-judge-state">\{{#if cj.connected}}Connected\{{else}}Connection lost. Waiting for reconnection...\{{/if}}</span>
					\{{else}}
						<div class="js-judge-btns">
							<button type="button" class="js-judge-accept js-judge-btn btn btn--major" data-id="\{{cj.id}}">Accept</button>
							<button type="button" class="js-judge-reject js-judge-btn btn btn--minor" data-id="\{{cj.id}}">Reject</button>
						</div>
					\{{/if}}
				\{{else}}
					<h3 class="js-judge-name">Judge #\{{index}}</h3>
					<span class="js-judge-state">Waiting for connection</span>
				\{{/if}}
				</li>
			\{{/each}}
		</script>
		<div class="js-btns">
			<button type="button" class="js-add btn btn--minor" title="Add slot">+</button>
			<button type="button" class="js-remove btn btn--minor" title="Remove slot">&minus;</button>
		</div>
	</div>
	{{!-- Match dashboard --}}
	<div class="main">
		{{!-- Configuration panel --}}
		<div id="config-panel" class="panel">
			<button type="button" class="match-btn match-btn--new btn btn--major">New Match</button>
			<div class="config action">
				<h2 class="cf-heading">Match Configuration</h2>
				<div class="cf-inner"></div>
				<script id="cf-inner-tmpl" type="x-handlebars-template">
					\{{#each configItems}}
						<div class="cf-item" data-name="\{{name}}" data-type="\{{type}}">
							<span class="cf-lbl">\{{label}}</span>
							\{{#if isTime}}
								<span class="cf-controls"><button class="cf-dec cf-btn btn btn--toggle" type="button"\{{#unless isDecEnabled}} disabled\{{/unless}}>&minus;</button><span class="cf-value">\{{value}}</span><button class="cf-inc cf-btn btn btn--toggle" type="button">+</button></span>
							\{{else}}
								\{{#if isBoolean}}
									<span class="cf-controls"><button class="cf-false cf-btn btn btn--toggle\{{#if isFalse}} btn_pressed\{{/if}}" type="button">1</button><button class="cf-true cf-btn btn btn--toggle\{{#if isTrue}} btn_pressed\{{/if}}" type="button">2</button></span>
								\{{/if}}
							\{{/if}}
						</div>
					\{{/each}}
				</script>
			</div>
		</div>
		{{!-- Match panel --}}
		<div id="match-panel" class="panel hidden">
			<h2 class="mp-round-label"></h2>
			<div class="mp-row mp-row--top">
				{{!-- Time keeping --}}
				<div class="time-keeping tk_off mp-cell">
					<audio id="tk-beeps">
						<source src="audio/beeps.ogg" type="audio/ogg">
						<source src="audio/beeps.mp3" type="audio/mp3">
					</audio>
					<div class="tk-inner">
						<div id="round-timer" class="tk-timer tk-timer--round">
							<span class="tk-timer-min"></span><span class="tk-timer-sep">:</span><span class="tk-timer-sec"></span>
						</div>
						<div id="injury-timer" class="tk-timer tk-timer--injury">
							<span class="tk-timer-min"></span><span class="tk-timer-sep">:</span><span class="tk-timer-sec"></span>
						</div>
					</div>
				</div>
				{{!-- Match state management --}}
				<div class="state mp-cell">
					<div class="st-inner"></div>
					<script id="st-inner-tmpl" type="x-handlebars-template">
						<button type="button" class="st-btn st-btn--start match-btn btn\{{#unless isBreak}} btn--major\{{/unless}}"\{{#unless isIdle}} disabled\{{/unless}}>Start</button>
						<button type="button" class="st-btn st-btn--end match-btn btn\{{#unless isBreak}} btn--major\{{/unless}}"\{{#unless isStarted}} disabled\{{/unless}}\{{#if isStarted}}\{{#if isInjury}} disabled\{{/if}}\{{/if}}>End</button>
						<button type="button" class="st-btn st-btn--injury match-btn btn btn--minor"\{{#unless enableInjuryBtn}} disabled\{{/unless}}>\{{#unless isInjury}}Start\{{else}}End\{{/unless}} Injury</button>
					</script>
				</div>
			</div>
			<div class="mp-row mp-row--bottom">
				{{!-- Scores --}}
				<div class="scores mp-cell">
					<div class="sc-inner"></div>
					<script id="sc-inner-tmpl" type="x-handlebars-template">
						\{{#each scoreSlots}}
							<div class="sc-judge">
							\{{#if cj}}
								<h3 class="sc-judge-name">\{{cj.name}}</h3>
								<div class="sc-judge-score">
									<span class="sc-hong hong-bg">\{{cj.scores.hong}}</span>
									<span class="sc-chong chong-bg">\{{cj.scores.chong}}</span>
								</div>
							\{{else}}
								<h3 class="sc-judge-name">Judge #\{{index}}</h3>
								<div class="sc-judge-score">
									<span class="sc-hong hong-bg">-</span>
									<span class="sc-chong chong-bg">-</span>
								</div>
							\{{/if}}
							</div>
						\{{/each}}
					</script>
				</div>
				{{!-- Penalties --}}
				<div class="penalties mp-cell">
					<h2 class="pe-heading">Warnings</h2>
					<div class="pe-inner pe-inner--warnings"></div>
					<h2 class="pe-heading">Fouls</h2>
					<div class="pe-inner pe-inner--fouls"></div>
					<script id="pe-penalties-tmpl" type="x-handlebars-template">
						<div class="pe-item">
							<span class="pe-value hong-bg">\{{hong}}</span>
							<div class="pe-btns">
								<button class="pe-inc pe-btn btn" type="button" data-competitor="hong"\{{#unless allowIncHong}} disabled\{{/unless}}>+</button>
								<button class="pe-dec pe-btn btn btn--minor" type="button" data-competitor="hong"\{{#unless allowDecHong}} disabled\{{/unless}}>&minus;</button>
							</div>
						</div>
						<div class="pe-item">
							<span class="pe-value chong-bg">\{{chong}}</span>
							<div class="pe-btns">
								<button class="pe-inc pe-btn btn" type="button" data-competitor="chong"\{{#unless allowIncChong}} disabled\{{/unless}}>+</button>
								<button class="pe-dec pe-btn btn btn--minor" type="button" data-competitor="chong"\{{#unless allowDecHong}} disabled\{{/unless}}>&minus;</button>
							</div>
						</div>
					</script>
				</div>
			</div>
		</div>
		{{!-- Result panel --}}
		<div id="result-panel" class="panel hidden">
			<p class="rp-winner"></p>
			<div id="rp-buttons--continue">
				<button type="button" class="match-btn match-btn--end btn btn--minor">End Match</button>
				<button type="button" class="match-btn match-btn--continue btn btn--major">Continue Match</button>
			</div>
			<div id="rp-buttons--end">
				<button type="button" class="match-btn match-btn--config btn btn--minor">Match Configuration</button>
				<button type="button" class="match-btn match-btn--new btn btn--major">New Match</button>
			</div>
			<div class="scoreboard-wrap">
				<table class="scoreboard">
					<thead class="sb-head">
						<tr class="sb-header-row">
						</tr>
					</thead>
					<tbody class="sb-body">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{{!-- Backdrop --}}
{{> backdrop}}