<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Jury President</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/jury-president.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/lib/require.js" data-main="/js/jury-president/main.js"></script>
	<script>
		define('match-config', function () {
			return {{{jsonMatch}}};
		});
	</script>
</head>
<body>
	<div id="pwd-view" class="view hidden">
		<h1>Jury President</h1>
		<div id="pwd-action" class="action">
			<p id="pwd-instr" class="instr">Master password required</p>
			<input id="pwd-field" class="field" type="password">
		</div>
	</div>
	<div id="rings-view" class="view hidden">
		<h1>Jury President</h1>
		<div id="rings-action" class="action">
			<p id="rings-instr" class="instr">Select ring number</p>
		    <ul id="rings-list" class="list-reset list-grid">
				{{#each ringAllocations}}
				<li><button type="button" class="btn btn--ring">{{index}}</button></li>
				{{/each}}
		    </ul>
		</div>
		<script id="ring-template" type="x-handlebars-template">
			{{#each ringAllocations}}
			<li><button type="button" class="btn rings-btn" \{{#if allocated}}disabled\{{/if}}>\{{index}}</button></li>
			{{/each}}
		</script>
	</div>
	<div id="match-view" class="view hidden">
		<div class="judges">
		    <h2 class="judges-heading">Corner Judges</h2>
		    <ul id="judges-list" class="list-reset">
				{{#times judgeCount}}
		        <li class="judge">
		            <h3 class="judge-name">Judge #{{this}}</h3>
		            <button type="button" class="judge-disconnect hidden" title="Disconnect">&times;</button>
		            <span class="judge-state">Waiting for connection</span>
                    <div class="judge-btns hidden">
                        <button type="button" class="judge-accept btn btn--judge btn--major">Accept</button>
                        <button type="button" class="judge-reject btn btn--judge btn--minor">Reject</button>
                    </div>
                </li>
				{{/times}}
		    </ul>
		    <div class="judge-count-btns">
		    	<button type="button" class="judge-minus btn btn--minor" title="Remove one judge">&minus;</button>
		    	<button type="button" class="judge-plus btn btn--minor" title="Add one judge">+</button>
		    </div>
		</div>
		<div id="config-panel" class="panel">
			<button type="button" class="btn btn--match btn--major match-btn-new">New match</button>
			<div class="config-wrap">
				<div class="config">
					<span class="config-lbl">Round time</span>
					<span class="config-inp"><button type="button">-</button><span>{{numToTime match.roundTime}}</span><button type="button">+</button></span>
				</div>
				<div class="config">
					<span class="config-lbl">Injury time</span>
					<span class="config-inp"><button type="button">-</button><span>{{numToTime match.injuryTime}}</span><button type="button">+</button></span>
				</div>
				<div class="config">
					<span class="config-lbl">Break time</span>
					<span class="config-inp"><button type="button">-</button><span>{{numToTime match.breakTime}}</span><button type="button">+</button></span>
				</div>
				<div class="config">
					<span class="config-lbl">Number of rounds</span>
					<span class="config-inp"><button type="button">1</button><button type="button">2</button></span>
				</div>
				<div class="config">
					<span class="config-lbl">Tie breaker</span>
					<span class="config-inp"><button type="button">On</button><button type="button">Off</button></span>
				</div>
				<div class="config">
					<span class="config-lbl">Golden point</span>
					<span class="config-inp"><button type="button">On</button><button type="button">Off</button></span>
				</div>
			</div>
		</div>
		<div id="match-panel" class="panel hidden">
	    	<div class="mp-row mp-row--top">
				<div class="mp-cell time-keeping tk_off">
					<div class="tk-inner">
						<div class="tk-timer tk-timer--round">
							<span class="tk-timer-min">2</span><span class="tk-timer-sep">:</span><span class="tk-timer-sec">00</span>
						</div>
						<div class="tk-timer tk-timer--injury">
							<span class="tk-timer-min">2</span><span class="tk-timer-sep">:</span><span class="tk-timer-sec">00</span>
						</div>
					</div>
				</div>
				<div class="mp-cell state-management">
					<div class="sm-inner">
						<button class="btn btn--match sm-btn sm-btn--start" type="button">Start round 1</button>
						<button class="btn btn--match sm-btn sm-btn--end" type="button">End round 1</button>
						<button class="btn btn--match btn--major sm-btn sm-btn--result hidden" type="button">See result</button>
						<button class="btn btn--match btn--minor sm-btn sm-btn--injury" type="button">Start injury</button>
					</div>
				</div>
		    </div>
		    <div class="mp-row mp-row--bottom">
		    	<div class="mp-cell scoring">
		    		<div class="sc-inner">
						{{#times judgeCount}}
						<div class="sc-judge">
		           			<h3 class="sc-judge-name">Judge #{{this}}</h3>
							<div class="sc-judge-score">
								<span class="sc-hong hong-bg">0</span>
								<span class="sc-chong chong-bg">0</span>
							</div>
						</div>
						{{/times}}
	    			</div>
		    	</div>
		    	<div class="mp-cell penalties">
		    		
		    	</div>
		    </div>
		</div>
		<div id="result-panel" class="panel hidden">
			<p id="result-winner" class="hong-col">Hong wins</p>
			<div>
				<button type="button" class="btn btn--match btn--minor" id="match-btn-config">Change match configuration</button>
				<button type="button" class="btn btn--match btn--major match-btn-new">New match</button>
			</div>
			<div id="scoreboard-wrap">
			</div>
			<script id="scoreboard-template" type="text/x-handlebars-template">
				<p class="result-penalties">Penalties: <span class="hong-col">Hong: \{{penalties.[0]}}</span>, <span class="chong-col">Chong: \{{penalties.[1]}}</span></p>
				<table class="scoreboard">
					<thead class="sb-head">
						<tr>
							<th scope="col" class="hidden--view">Judge</th>
							<th scope="col" colspan="2">Round 1</th>
							\{{#if match.hadTwoRounds}}<th scope="col" colspan="2">Round 2</th>\{{/if}}
							<th scope="col" colspan="2">Result</th>
							\{{#if match.hadTieBreaker}}<th scope="col" colspan="2">Tie breaker</th>\{{/if}}
							\{{#if match.hadGoldenPoint}}<th scope="col" colspan="2">Golden point</th>\{{/if}}
						</tr>
					</thead>
					<tbody class="sb-body">
						\{{#each judges}}
						<tr>
							<th scope="row">\{{name}}</th>
							\{{#each results}}
							<td>\{{this}}</td>
							\{{/each}}
						</tr>
						\{{/each}}
					</tbody>
				</table>
			</script>
		</div>
	</div>
</body>
</html>