<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Jury President</title>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/jury-president.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/lib/fast-click.min.js"></script>
	<script src="/js/jury-president.js"></script>
</head>
<body>
	<div id="pwd-view" class="view hidden">
		<h1>Jury President</h1>
		<div id="pwd-action" class="action">
			<p id="pwd-instr" class="instr">Master password required</p>
			<input id="pwd-field" class="field" type="password">
		</div>
	</div>
	<div id="rings-view" class="view hidden">
		<h1>Jury President</h1>
		<div id="rings-action" class="action">
			<p id="rings-instr" class="instr">Select ring number</p>
		    <ul id="rings-list" class="list-reset list-grid">
                {{#each ringAllocations}}
		            <li><button type="button" class="btn btn--ring">{{index}}</button></li>
                {{/each}}
		    </ul>
		</div>
	</div>
	<div id="match-view" class="view hidden">
		<div class="judges">
		    <h2 class="judges-heading">Corner Judges</h2>
		    <ul id="judges-list" class="list-reset">
		        <li class="judge">
		            <h3 class="judge-name">Judge #1</h3>
		            <span class="judge-state">Waiting for connection</span>
                    <div class="judge-btns hidden">
                        <button type="button" class="judge-accept btn btn--judge btn--major">Accept</button>
                        <button type="button" class="judge-reject btn btn--judge btn--minor">Reject</button>
                    </div>
                </li>
		        <li class="judge">
		            <h3 class="judge-name">Judge #2</h3>
		            <span class="judge-state">Waiting for connection</span>
                    <div class="judge-btns hidden">
                        <button type="button" class="judge-accept btn btn--judge btn--major">Accept</button>
                        <button type="button" class="judge-reject btn btn--judge btn--minor">Reject</button>
                    </div>
                </li>
                <li class="judge">
		            <h3 class="judge-name">Judge #3</h3>
                    <span class="judge-state">Waiting for connection</span>
                    <div class="judge-btns hidden">
                        <button type="button" class="judge-accept btn btn--judge btn--major">Accept</button>
                        <button type="button" class="judge-reject btn btn--judge btn--minor">Reject</button>
                    </div>
                </li>
                <li class="judge">
		            <h3 class="judge-name">Judge #4</h3>
                    <span class="judge-state">Waiting for connection</span>
                    <div class="judge-btns hidden">
                        <button type="button" class="judge-accept btn btn--judge btn--major">Accept</button>
                        <button type="button" class="judge-reject btn btn--judge btn--minor">Reject</button>
                    </div>
                </li>
		    </ul>
		</div>
		<div class="panel panel--before">
			<button type="button" class="btn btn--match btn--major match-new">New match</button>
			<div class="config-wrap">
				<div class="config">
					<span class="config-lbl">Round time</span>
					<span class="config-inp"><button type="button">-</button><span>2:00</span><button type="button">+</button></span>
				</div>
				<div class="config">
					<span class="config-lbl">Break time</span>
					<span class="config-inp"><button type="button">-</button><span>1:00</span><button type="button">+</button></span>
				</div>
				<div class="config">
					<span class="config-lbl">Number of rounds</span>
					<span class="config-inp"><button type="button">1</button><button type="button">2</button></span>
				</div>
				<div class="config">
					<span class="config-lbl">Tie breaker</span>
					<span class="config-inp"><button type="button">On</button><button type="button">Off</button></span>
				</div>
				<div class="config">
					<span class="config-lbl">Golden point</span>
					<span class="config-inp"><button type="button">On</button><button type="button">Off</button></span>
				</div>
			</div>
		</div>
		<div class="panel panel--during hidden">
		    <div class="time-keeping">
	        	<div class="timer-wrap">
					<div class="timer timer--round">
	        			<span class="timer-min">2</span><span class="timer-sep">:</span><span class="timer-sec">00</span>
	        		</div>
	        		<div class="timer timer--injury">
	        			<span class="timer-min">2</span><span class="timer-sep">:</span><span class="timer-sec">00</span>
	        		</div>
	        	</div>
		    </div>
		    <div class="scoring">
		    	
		    </div>
		</div>
		<div class="panel panel--after hidden">
			<p id="result-winner">Hong wins</p>
			<div>
				<button type="button" class="btn btn--match btn--minor">Match configuration</button>
				<button type="button" class="btn btn--match btn--major match-new">New match</button>
			</div>
			<div id="scoreboard-wrap">
			</div>
			<template id="scoreboard-template">
				<p>Penalties: <span class="hong">\{{penalties.hong}}</span>, <span class="chong">\{{penalties.chong}}</span></p>
				<table>
					<thead>
						<tr>
							<th scope="col">Judge</th>
							<th scope="col" colspan="2">Round1</th>
							\{{if match.hadTwoRounds}}<th scope="col" colspan="2">Round 2</th>\{{/if}}
							<th scope="col" colspan="2">Result</th>
							\{{if match.hadTieBreaker}}<th scope="col" colspan="2">Tie breaker</th>\{{/if}}
							\{{if match.hadGoldenPoint}}<th scope="col" colspan="2">Golden point</th>\{{/if}}
						</tr>
					</thead>
					<tbody>
						\{{each judges}}
						<tr>
							<th scope="row">\{{name}}</th>
							\{{each results}}
							<td>{{this}}</td>
							\{{/each}}
						</tr>
						\{{/each}}
					</tbody>
				</table>
			</template>
		</div>
	</div>
</body>
</html>