{{!-- WebSocket Error view --}}
{{> ws-error-view }}

{{!-- Password view --}}
<div id="pwd" class="view hidden">
	<h1>{{ title }}</h1>
	<form class="action pwd-form" action="#">
		<p class="pwd-instr instr">Master password required</p>
		<input class="pwd-field field" type="password">
	</form>
</div>

{{!-- Ring List view --}}
<div id="ring-list" class="view hidden">
	<h1>{{ title }}</h1>
	<div class="action">
		<p class="rl-instr instr">Select ring number</p>
		<ul class="rl-list list-reset list-grid"></ul>
	</div>
	<script id="rl-list-tmpl" type="x-handlebars-template">
		\{{#each rings}}
			<li><button type="button" class="btn rl-btn" data-index="\{{index}}"\{{#if open}} disabled\{{/if}}>\{{number}}</button></li>
		\{{/each}}
	</script>
</div>

{{!-- Ring view --}}
<div id="ring" class="view hidden">
	{{!-- Sidebar (Corner Judges management) --}}
	<div id="judges-sidebar">
		<h2 class="js-heading">Corner Judges</h2>
		<ul class="js-list list-reset"></ul>
		<script id="js-list-tmpl" type="x-handlebars-template">
			\{{#each slots}}
				<li class="js-judge">
				\{{#if cj}}
					<h3 class="js-judge-name">\{{cj.name}}</h3>
					<button type="button" class="js-judge-remove" title="Remove" data-id="\{{cj.id}}">&times;</button>
					\{{#if cj.authorised}}
						<span class="js-judge-state">\{{#if cj.connected}}Connected\{{else}}Connection lost. Waiting for reconnection...\{{/if}}</span>
					\{{else}}
						<div class="js-judge-btns">
							<button type="button" class="js-judge-accept js-judge-btn btn btn--major" data-id="\{{cj.id}}">Accept</button>
							<button type="button" class="js-judge-reject js-judge-btn btn btn--minor" data-id="\{{cj.id}}">Reject</button>
						</div>
					\{{/if}}
				\{{else}}
					<h3 class="js-judge-name">Judge #\{{index}}</h3>
					<span class="js-judge-state">Waiting for connection</span>
				\{{/if}}
				</li>
			\{{/each}}
		</script>
		<div class="js-btns">
			<button type="button" class="js-add btn btn--minor" title="Add slot">+</button>
			<button type="button" class="js-remove btn btn--minor" title="Remove slot">&minus;</button>
		</div>
	</div>
	{{!-- Match dashboard --}}
	<div class="main">
		{{!-- Configuration panel --}}
		<div id="config-panel" class="panel">
			<button type="button" class="match-btn match-btn--new btn btn--major">New Match</button>
			<div class="config action">
				<h2 class="config-heading">Match Configuration</h2>
				<div class="config-item" data-name="roundTime" data-type="time">
					<span class="ci-lbl">Round time</span>
					<span class="ci-controls"><button class="ci-dec ci-btn btn btn--toggle" type="button">&minus;</button><span class="ci-value"></span><button class="ci-inc ci-btn btn btn--toggle" type="button">+</button></span>
				</div>
				<div class="config-item" data-name="injuryTime" data-type="time">
					<span class="ci-lbl">Injury time</span>
					<span class="ci-controls"><button class="ci-dec ci-btn btn btn--toggle" type="button">&minus;</button><span class="ci-value"></span><button class="ci-inc ci-btn btn btn--toggle" type="button">+</button></span>
				</div>
				<div class="config-item" data-name="breakTime" data-type="time">
					<span class="ci-lbl">Break time</span>
					<span class="ci-controls"><button class="ci-dec ci-btn btn btn--toggle" type="button">&minus;</button><span class="ci-value"></span><button class="ci-inc ci-btn btn btn--toggle" type="button">+</button></span>
				</div>
				<div class="config-item" data-name="twoRounds" data-type="boolean">
					<span class="ci-lbl">Number of rounds</span>
					<span class="ci-controls"><button class="ci-false ci-btn btn btn--toggle" type="button">1</button><button class="ci-true ci-btn btn btn--toggle" type="button">2</button></span>
				</div>
				<div class="config-item" data-name="tieBreaker" data-type="boolean">
					<span class="ci-lbl">Tie breaker</span>
					<span class="ci-controls"><button class="ci-false ci-btn btn btn--toggle" type="button">Off</button><button class="ci-true ci-btn btn btn--toggle" type="button">On</button></span>
				</div>
				<div class="config-item" data-name="goldenPoint" data-type="boolean">
					<span class="ci-lbl">Golden point</span>
					<span class="ci-controls"><button class="ci-false ci-btn btn btn--toggle" type="button">Off</button><button class="ci-true ci-btn btn btn--toggle" type="button">On</button></span>
				</div>
			</div>
		</div>
		{{!-- Match panel --}}
		<div id="match-panel" class="panel hidden">
			<h2 class="mp-state"></h2>
			<div class="mp-row mp-row--top">
				{{!-- Time keeping --}}
				<div class="time-keeping tk_off mp-cell">
					<audio id="tk-beeps">
						<source src="audio/beeps.ogg" type="audio/ogg">
						<source src="audio/beeps.mp3" type="audio/mp3">
					</audio>
					<div class="tk-inner">
						<div class="tk-timer tk-timer--round">
							<span class="tk-timer-min"></span><span class="tk-timer-sep">:</span><span class="tk-timer-sec"></span>
						</div>
						<div class="tk-timer tk-timer--injury">
							<span class="tk-timer-min"></span><span class="tk-timer-sep">:</span><span class="tk-timer-sec"></span>
						</div>
					</div>
				</div>
				{{!-- Match state management --}}
				<div class="state-management mp-cell">
					<div class="sm-inner"></div>
					<script id="sm-inner-tmpl" type="x-handlebars-template">
						<button type="button" class="sm-btn sm-btn--start match-btn btn\{{unless isBreak}} btn--major\{{/unless}}"\{{if started}} disabled\{{/if}}>Start</button>
						<button type="button" class="sm-btn sm-btn--end match-btn btn\{{unless isBreak}} btn--major\{{/unless}}"\{{unless started}} disabled\{{/unless}}>End</button>
						<button type="button" class="sm-btn sm-btn--injury match-btn btn btn--minor"\{{unless isBreak}}\{{if started}} disabled\{{/if}}\{{unless}}>\{{unless isInjuryStarted}}Start\{{else}}End\{{/unless}} Injury</button>
					</script>
				</div>
			</div>
			<div class="mp-row mp-row--bottom">
				{{!-- Scores --}}
				<div class="scoring mp-cell">
					<div class="sc-inner"></div>
					<script id="sc-inner-tmpl" type="x-handlebars-template">
						\{{#each slots}}
							<div class="sc-judge">
							\{{#if cj}}
								<h3 class="sc-judge-name">\{{cj.name}}</h3>
								<div class="sc-judge-score">
									<span class="sc-hong hong-bg">\{{cj.scores.[0]}}</span>
									<span class="sc-chong chong-bg">\{{cj.scores.[1]}}</span>
								</div>
							\{{else}}
								<h3 class="sc-judge-name">Judge #\{{index}}</h3>
								<div class="sc-judge-score">
									<span class="sc-hong hong-bg">-</span>
									<span class="sc-chong chong-bg">-</span>
								</div>
							\{{/if}}
							</div>
						\{{/each}}
					</script>
				</div>
				{{!-- Penalties --}}
				<div class="penalties mp-cell">
					<h2 class="pe-heading">Warnings</h2>
					<div class="pe-inner pe-inner--warnings">
						<div class="pe-item" data-type="warnings" data-competitor="hong">
							<span class="pe-value hong-bg">0</span>
							<div class="pe-btns">
								<button class="pe-inc pe-btn btn" type="button">+</button>
								<button class="pe-dec pe-btn btn btn--minor" type="button">&minus;</button>
							</div>
						</div>
						<div class="pe-item" data-type="warnings" data-competitor="chong">
							<span class="pe-value chong-bg">0</span>
							<div class="pe-btns">
								<button class="pe-inc pe-btn btn" type="button">+</button>
								<button class="pe-dec pe-btn btn btn--minor" type="button">&minus;</button>
							</div>
						</div>
					</div>
					<h2 class="pe-heading">Fouls</h2>
					<div class="pe-inner pe-inner--fouls">
						<div class="pe-item" data-type="fouls" data-competitor="hong">
							<span class="pe-value hong-bg">0</span>
							<div class="pe-btns">
								<button class="pe-inc pe-btn btn" type="button">+</button>
								<button class="pe-dec pe-btn btn btn--minor" type="button">&minus;</button>
							</div>
						</div>
						<div class="pe-item" data-type="fouls" data-competitor="chong">
							<span class="pe-value chong-bg">0</span>
							<div class="pe-btns">
								<button class="pe-inc pe-btn btn" type="button">+</button>
								<button class="pe-dec pe-btn btn btn--minor" type="button">&minus;</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{!-- Result panel --}}
		<div id="result-panel" class="panel hidden">
			<p class="rp-winner"></p>
			<div id="rp-buttons--continue">
				<button type="button" class="match-btn match-btn--end btn btn--minor">End Match</button>
				<button type="button" class="match-btn match-btn--continue btn btn--major">Continue Match</button>
			</div>
			<div id="rp-buttons--end">
				<button type="button" class="match-btn match-btn--config btn btn--minor">Match Configuration</button>
				<button type="button" class="match-btn match-btn--new btn btn--major">New Match</button>
			</div>
			<div class="scoreboard-wrap">
				<table class="scoreboard">
					<thead class="sb-head">
						<tr class="sb-header-row">
						</tr>
					</thead>
					<tbody class="sb-body">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{{!-- Backdrop --}}
{{> backdrop}}