{{#each configItems}}
	<div class="cf-item" data-name="{{name}}" data-type="{{type}}">
		<span class="cf-lbl">{{label}}</span>
		{{#if isTime}}
			<span class="cf-controls"><button class="cf-dec cf-btn btn btn--toggle" type="button"{{#unless isDecEnabled}} disabled{{/unless}}>&minus;</button><span class="cf-value">{{value}}</span><button class="cf-inc cf-btn btn btn--toggle" type="button">+</button></span>
		{{else}}
			{{#if isBoolean}}
				<span class="cf-controls"><button class="cf-false cf-btn btn btn--toggle{{#if isFalse}} btn_pressed{{/if}}" type="button">1</button><button class="cf-true cf-btn btn btn--toggle{{#if isTrue}} btn_pressed{{/if}}" type="button">2</button></span>
			{{/if}}
		{{/if}}
	</div>
{{/each}}