{{#each slots}}
	<li class="js-judge">
	{{#if cj}}
		<h3 class="js-judge-name">{{cj.name}}</h3>
		<button type="button" class="js-judge-remove" title="Remove" data-id="{{cj.id}}">&times;</button>
		{{#if cj.authorised}}
			<span class="js-judge-state">{{#if cj.connected}}Connected{{else}}Connection lost. Waiting for reconnection...{{/if}}</span>
		{{else}}
			<div class="js-judge-btns">
				<button type="button" class="js-judge-accept js-judge-btn btn btn--major" data-id="{{cj.id}}">Accept</button>
				<button type="button" class="js-judge-reject js-judge-btn btn btn--minor" data-id="{{cj.id}}">Reject</button>
			</div>
		{{/if}}
	{{else}}
		<h3 class="js-judge-name">Judge #{{index}}</h3>
		<span class="js-judge-state">Waiting for connection</span>
	{{/if}}
	</li>
{{/each}}