{{#each scoreSlots}}
	<div class="sc-judge">
	{{#if cj}}
		<h3 class="sc-judge-name">{{cj.name}}</h3>
		<div class="sc-judge-score">
			<span class="sc-hong hong-bg">{{cj.scores.hong}}</span>
			<span class="sc-chong chong-bg">{{cj.scores.chong}}</span>
		</div>
	{{else}}
		<h3 class="sc-judge-name">Judge #{{index}}</h3>
		<div class="sc-judge-score">
			<span class="sc-hong hong-bg">-</span>
			<span class="sc-chong chong-bg">-</span>
		</div>
	{{/if}}
	</div>
{{/each}}